body {
  background: url('./testbg.jpg') repeat fixed;
  background-size: cover;
  color: #66FF00;
  font-family: "Courier New", monospace;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

marquee {
  font-size: 20px;
  color: #FF00FF;
}
